/* Initial coding already present in exercise */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* General */


/* Navigation */
#navBar {
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #3e4444;
  border-bottom: rgb(174, 244, 100) solid;
}

#navBar h1 {
  width: 270px;
  margin-right: 20%;
  padding-left: 20px;
  justify-content: flex-start;
  background-color: rgb(174, 244, 100);
  font-weight: bold;
  font-size: 32px;
  color:rgb(62, 68, 68)
}

#navigation {
  display: flex;
  width: 50%;
  justify-content: flex-end;

}

#navigation a {
  margin: 10px;
  cursor: crosshair;
  text-decoration: none;
  border-bottom: 3px solid rgb(174, 244, 100);
  color:rgb(174, 244, 100)
}

/* Hero banner */

.hero-banner {
  height: 150px;
  background-image: url(../images/02-hero-bg.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

#backimage {
  background-color: rgba(64, 93, 39, 0.673);
  height: 150px;

}

#bannerText {
  position: relative;
  left: 80%;
  top: 50%;
  height: 58px;
  width: 120px;
  background-color: rgb(174, 244, 100);
  padding: 5px;
 
}

#bannerText h3 {
  text-align: left;
  font-size: 15px;
  color: rgb(62, 68, 68);
}

#bannerText p {
  font-size: 15px;
  color: rgb(62, 68, 68);
}


/* Main content */
/* headers */
h2 {
  font-weight: bold;
  font-size: 32px;
  text-align: right;
  color:rgb(62, 68, 68);
  padding: 5px;
  margin-left: 1%;

}

/* Main grid */
.page-wrapper {
  display: grid;
  grid-template: repeat(3,auto) / 20% 80%;
  row-gap: 10px;
  column-gap: 20px;
  margin: 50px;
  justify-items: end;
  grid-template-areas: "abouttitle" "abouttext"
  "worktitle" "workGrid"
  "contact" "footer";
}

#abouttitle {
  grid-area: "abouttitle";

}

#Face {
  max-width: 202px;
  margin-right: 10px;
  border: 4px solid rgb(174, 244, 100);
}

#abouttext {
  grid-area: "abouttext";
  margin-left: 10%;
  display: flex;
  align-items: center;
  font-size: 15px;
  color:rgb(62, 68, 68);
  margin-right: 20%;
}

#worktitle {
  grid-area: "worktitle";

}
.workGrid {
  grid-area: "workGrid";
}

#abouttitle,
#worktitle,
#contact {
  border-right: 3px #3e4444 solid;
}

#contact {
  grid-area: "contact";
}

/* workGrid grid */
#workGrid {
  height: 700px;
  display: grid;
  position: relative;
  width: 80%;
  margin-right: 10%;
  margin-left: 0px;
  grid-template: repeat(4,1fr) / repeat(2,50%);
  column-gap: 5px;
  row-gap: 5px;
  grid-template-areas: 
  "coderef coderef"
  "coderef coderef"
  "prework skellies"
  "sunnyside calculator";
}

.workGridarea {
  display: block;
  border: 3px rgb(174, 244, 100) solid;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


#PreworkStudyGuide {
  grid-area: prework;
  background-image: URL("../images/02-portfolio-1.jpg");
  
}

#CodeRefactoring {
  grid-area: coderef;
  background-image: URL("../images/02-portfolio-5.jpg");

}

#Skellies {
  grid-area: skellies;
  background-image: URL("../images/Skellie.jpg");
}


#SunnySide {
  grid-area: sunnyside;
  background-image: URL("../images/02-portfolio-6.jpg");
}

#Calculator {
  grid-area: calculator;
  background-image: URL("../images/02-portfolio-7.jpg");
}

#Skellies:hover,
#PreworkStudyGuide:hover,
#CodeRefactoring:hover,
#SunnySide:hover,
#Calculator:hover
 {
  opacity: 60%;
}

#Skellies,
#PreworkStudyGuide,
#CodeRefactoring,
#SunnySide,
#Calculator
 {
  text-decoration: none;
  color:#3e4444;
  background-color: rgb(174, 244, 100);
  font-size: 14px;
  text-align: right;
  
}

#Skellies h3,
#Skellies p,
#PreworkStudyGuide h3,
#CodeRefactoring h3,
#SunnySide h3,
#Calculator h3,
#PreworkStudyGuide p,
#CodeRefactoring p,
#SunnySide p,
#Calculator p
 {
  background-image: linear-gradient(to right, rgba(174, 244, 100,0.5), rgb(174, 244, 100)); 
  padding: 5px;
}


.text a {
  cursor: crosshair;

}

/* Footer */


.footer {
  display: flex;
  width: 100%;
  margin-right: 00%;
  justify-content: space-around;
  align-items: center;

}

.footer a {
  margin: 10px;
  cursor: crosshair;
  text-decoration: none;
  border-bottom: 3px solid #405d27;
  color:#405d27;

}

/* MEDIA */
/*TABLETS*/
@media screen and (max-width: 768px) {

  .page-wrapper {
    display: flex;
    flex-direction: column;
  }

  h2 {
    text-align: left;
  }  

  #abouttitle,
  #worktitle,
  #contact {
  border-bottom: 3px #3e4444 solid;
  border-right: none;
}

  #workGrid {
    align-self: center;
    margin: right: 20%;
    margin-left: 20%;
  }

  #abouttext {
    margin-left: 30px;
    margin-right: 30px;
  }

  #navBar {
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(174, 244, 100);
  }
  
  #navBar h1 {
    width: 100%;
    margin-right: 0px;
    padding-left: 0pxe;
    margin-top: 6px;
    justify-content: center;
    text-align: center;

  }
  
  #navigation {
    margin-top: 5px;
    background-color: #3e4444;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  
  }

  
}

/*PHONES*/
@media screen and (max-width: 480px) {

  #bannerText {
    position: relative;
    left: 50%;
    top: 50%;
    height: 58px;
    width: 120px;
    background-color: rgb(174, 244, 100);
    padding: 5px;
   
  }

  .page-wrapper {
    display: flex;
    flex-direction: column;
  }

  h2 {
    text-align: left;
  }  

  #abouttitle,
  #worktitle,
  #contact {
  border-bottom: 3px #3e4444 solid;
  border-right: none;
}

  #workGrid {
    height: 400px;
    align-self: center;
    margin: right: 20%;
    margin-left: 20%;
  }

  #abouttext {
    margin-left: 30px;
    margin-right: 30px;
  }

  #navBar {
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(174, 244, 100);
  }
  
  #navBar h1 {
    width: 100%;
    margin-right: 0px;
    padding-left: 0pxe;
    margin-top: 6px;
    justify-content: center;
    text-align: center;

  }
  
  #navigation {
    margin-top: 5px;
    background-color: #3e4444;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  
  }



  #Skellies,
  #PreworkStudyGuide,
  #CodeRefactoring,
  #SunnySide,
  #Calculator
  {
    font-size: 12px;
}

#Skellies h3,
#Skellies p,
#PreworkStudyGuide h3,
#CodeRefactoring h3,
#SunnySide h3,
#Calculator h3,
#PreworkStudyGuide p,
#CodeRefactoring p,
#SunnySide p,
#Calculator p
 {
  padding-top: 0px;
  padding-bottom: 0px;
}

#Face {
  display: block;
  align-items: center;
  padding: 0px;
  margin: 0px;
  margin-right: 5%;
  margin-left: 7%;
}

#abouttext {
  display: block;

}
}
